body{
    /*background-color: #0B2545;*/
    background-color: #0077b6;
    background-attachment: fixed;
}
.header{
    background-color: #8DA9C4;
    /*background-color: rgba(255, 255, 255, 0.5);*/
    padding: 100px 0 100px 0;
    margin: 15px auto 15px auto;
    display:block; 
    border-radius: 20px;
    margin-left: 5px;
    margin-right: 5px;
}
main{
    /*background-color: rgba(255, 255, 255, 0.5);*/
    background-color: #0077b6;
    padding: 20px 0 50px 0;
    margin: 15px auto 15px auto;
    
    display:block; 
    border-radius: 20px;
    margin-left: 50px;
    margin-right: 50px;
}
footer{
    background-color: #8DA9C4;
    /*background-color: rgba(255, 255, 255, 0.5);*/
    padding-top: 100px;
    padding-bottom: 20px;
    border-radius: 20px;
    margin-left: 5px;
    margin-right: 5px;
}
/*card*/
.items{
    
}
.card {
    /*width: 1000px;*/
    max-width: 1500px;
    height: 150px;
    background-image: linear-gradient(160deg, #0f378f 0%, #262f80 100%);
    border-radius: 20px;
    transition: all .3s;
    margin-bottom: 20px;
   }
   
   .card2 {
    max-width: 1500px;
    /*width: 1000px;*/
    height: 150px;
    background-color: #8DA9C4;
    border-radius:20px;
    transition: all .2s;
   }
   
   .card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
   }
   
   .card:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 110, 255, 0.3);
   }

   .right{
    max-width: 150px;
    border-radius: 20px;
    float: left;
   }

   .left{
    max-width: 150px;
    border-radius: 20px;
    float: right; 
   }

