body, main{
  margin: 0;
  background-color: #102f55;
}
main{
/*display: block;*/
}
.header{
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed; 
    top: 0;
    /*estilo*/
    background-color: #061D3A;
    border-bottom: 3px solid #ffffff;  
} 

.Logo{
  max-width: 100%;
  height: 80px;
  margin: 0px 20px 0px 120px;
}

.search-conteiner{
    width: 100%;
    height: 20px;
    padding: 10px 10px;
    max-width: auto;
    min-width: auto;
    display: flex;
    position: relative;
    align-items: center; 
}
.search-bar{
    width: 100%;
    height: 20px;
    padding: 10px 15px;
    display: block; 
    /*estilo*/
    border: none; 
    outline: none; 
    color: #181313;
    border-radius: 20px;
}
.nav-options{
    display: flex;
    justify-content: center;
    margin: 0 120px 0 10px;
    gap: 20px; 
}
.nav-options a{
    padding: 10px 10px; 
    margin: 0 5px;
    /*estilo*/
    text-decoration: none;
    color: #f0f0f0;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    border-radius: 20px;
}
.nav-options a:hover{
    padding: 10px 10px;
    /*estilo*/
    background-color: #ffffff;
    color: #333232;
    border-radius: 20px;
}

@media (max-width: 768px){
  .header{
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0px;
  }
  .Logo{
    max-width: 100%;
    height: 80px;
    margin: 0px auto;
    align-items: center;
  }
  .search-conteiner{
    max-width: 100%;
  }
  .nav-options{
    margin: 5px auto 5px auto; 
    gap: 20px;
  }
  .search-bar{
    margin: 0 30px;
    max-width: 100%;
  }
  h1{
    font-size: 30px;
    text-align: center;
    justify-content: center;
    margin: 0px auto 10px auto;
  }
  .section-title{
    text-align: center;
    margin-top: 150px;
  }

.slide{
  font-size: 30px;
  margin-top: 100px; 
}
} 

@media (max-width: 480px){
  .header{
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0px;
  }
  .Logo{
    max-width: 100%;
    height: 80px;
    margin: 0px auto;
    align-items: center;
  }
  .search-conteiner{
    max-width: 100%;
  }
  .search-bar{
    margin: 0 30px;
    max-width: 100%;
  }
  .nav-options{
    margin: 5px auto 5px auto; 
    gap: 20px;
  }
  h1{
    font-size: 30px;
    text-align: center;
    justify-content: center;
    margin: 0px auto 10px auto;
  }
  .section-title{
    text-align: center;
    margin-top: 150px;
  }
  .slide{
    font-size: 25px;
    margin-top: 100px;
  }
}

.section-title{
  text-align: center;
}

.slide{
    margin-top: 80px;
    padding-top: 50px;
    padding-bottom: 0px;
    color:#ffffff;
    background-color: #102f55;
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}
.subtitulo{
  align-items: center;
  margin: 10px;
  color:#ffffff;
  font-family: "Roboto", sans-serif;
}
.sub{
  display: flex;
  align-items: center;
  margin: 5px;
  /*estilo*/
  color:#061D3A;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
.text{
    margin: 0px 5px 20px 5px; 
    padding-top: 0px;
    /*estilo*/
    color:#061D3A;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}
.year{
    margin-left: 5px;
    /*estilo*/
    color:#061D3A;
    font-size: 25px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}
img{
    height: auto;
    text-align: center;
    display: block;
    max-width: 100%;
    width: auto;
    margin: 0 auto;
    border-radius: 20px;
}
.img-caption{
  margin: 0px auto 0px auto;
  padding: 20px 40px 20px 40px;
  /*estilo*/
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  background-color: #061D3A;
}
.section-info, .section-books, .section-gallery, .section-frase{
  justify-content: center;
  text-align: center;
  align-items: center;
}
h3{
  color: #ffffff; 
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  text-align: center;
}
.history{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
  /*estilo*/
  background-color: #061D3A;
}

.item{
  padding: 15px 20px; 
  max-width: 500px;
  max-height: 100%;
  /*estilo*/
  background-color: rgba(255, 255, 255, 0.767);
  border-radius: 20px;
  box-shadow: 3px 3px 10px rgba(126, 125, 125, 0.3);
}

.gallery{
  gap: 10px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /*estilo*/
  background-color: #061D3A;
  border-color: #ffffff;
}

.gallery img{
  margin: 5px;
  width: 100%;
  max-width: 350px;
  height: 300px;
  /*estilo*/
  object-fit: cover;
  border-radius: 20px;
  border: 3px solid rgba(255, 255, 255, 0.767);
  box-shadow: 3px 3px 10px rgba(126, 125, 125, 0.3);
}

.section-books{
  background-color: #061D3A;
  padding: 5px;
}

.container { 
  padding: 10px;
  display: flex; 
  flex-direction: row;  
  align-items: center;   
  gap: 6px;  
  flex-wrap: wrap;    
  margin: 30px 130px;

  /*estilo*/
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.767);
  box-shadow: 3px 3px 10px rgba(126, 125, 125, 0.3);
}

.imagens {
  border-radius: 20px;
  margin: auto;
  margin: 10px auto; 
  text-align: center;
  width: 300px;
  height: 200px;                     
  object-fit: cover;
}

@media (max-width: 768px){
  .container{
    margin: 30px 90px;
    padding: 20px;
    text-align: center;
  }
  .imagens{
    max-width: 100%;  
    height: 200px;  
  }
}
@media (max-width: 480px){
  .container{
    margin: 30px 30px; 
    padding: 20px;
    text-align: center;
  }
  .imagens{
    max-width: 100%;  
    height: 200px;  
  }
}

.item-books{
  padding: 10px;
  border-radius: 20px;
  max-width: 700px;
  max-height: 100%;
}
.sub-books{
  padding-bottom: 20px;
  color:#061D3A;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  margin: 5px;
}
.text-books{
  display: flex;
  text-align: left;
  align-items: center;
  color:#061D3A;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

footer{
  color: #504f4f;
  width: 100%;
  height: 130px;
  padding-bottom: 60px;
}

.frase{
  margin-bottom: 30px;
  /*estilo*/
  font-size: 20px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.contacto{
  margin-top: 20px;
  /*estilo*/
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a{
  margin: 40px 30px 20px 30px; 
  /*estilo*/
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.icons{
  text-align: center;
  margin: 10px 30px 20px 30px; 
  width: 25px;
  height: 35px;
  align-items: center;
  display: inline;
}

@media (max-width: 780px){
  .icons{
    margin: 10px 20px 20px 20px; 
    display: inline;
  }
}
@media (max-width: 320px){
  .icons{
    margin: 10px 5px; 
    display: inline;
  }
}


/*fonts*/
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium { 
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}


